@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  /* font-family: "Encode Sans SC", sans-serif; */
  /* font-family: 'Secular One', sans-serif; */
  /* font-family: 'Poppins', sans-serif; */
  /* font-family: "Roboto", sans-serif; */
  /* font-family: 'Teko', sans-serif; */
  /* font-family: 'Lato', sans-serif; */
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #f0f2f5; */
  /* background-image: url("../public/assets/images/bg_pattern.jpg"); */
  /* background-repeat: repeat; */
}
